@import "../node_modules/open-props/open-props.min.css";
@import "../node_modules/open-props/normalize.min.css";
@import "../node_modules/open-props/buttons.min.css";

body,
main {
  height: 100%;
}

main {
  display: grid;
  place-content: center;
  gap: var(--size-6);
}

.wrapper {
  border: var(--border-size-2) solid var(--surface-3);
  background-color: var(--purple-12);
  width: 30rem;
}

.box {
  display: inline-block;
  padding: var(--size-3);
  background-color: var(--green-9);
  font-size: var(--font-size-fluid-0);
}

.wrapper2 {
  font-size: 0;
}
