@import "../node_modules/open-props/open-props.min.css";
@import "../node_modules/open-props/normalize.min.css";
@import "../node_modules/open-props/buttons.min.css";

body,
main {
  height: 100%;
}

main {
  display: grid;
  place-items: center;
}

.wrapper {
  border: var(--border-size-2) solid var(--surface-3);
  background-color: var(--purple-12);
  width: 30rem;
}

.box {
  font-size: var(--font-size-fluid-3);
  text-transform: uppercase;
  border: var(--border-size-2) solid var(--surface-3);
  padding: var(--size-fluid-3);
  background-color: var(--teal-12);
  max-width: var(--size-relative-11);
  margin-inline: auto;
  margin-block: var(--size-fluid-2);
}

.box2 {
  box-sizing: content-box;
}
